*.iml
.gradle
/local.properties
/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/shelf
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/cloud_functions/functions/node_modules